doctype html
html
  head
    meta(charset='utf-8')
    title Android Video Streaming  
   
    link(href='https://vjs.zencdn.net/5.19/video-js.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/style.css')
  body
    
    // Header
    #header
        .container
            h1 Android Video Streaming
    
    #container

    
    //SCRIPTS
    script(src='js/jquery-1.9.1.min.js', type='text/javascript')
    script(src='https://vjs.zencdn.net/5.19/video.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript').
        
        //manage commands
        $(function () {
            var socket = io();

            /*$("#move_w").on('click', function(event){
                socket.emit('move', {move_to: "w"});
                //alert("stop clicked")
            });*/

            socket.on('data_streaming', function (data) {
                console.log("dev: " + data['device_name'])
                console.log("id: " + data['device_id'])
                console.log("num: " + data['num_streamings'])

                if(data['num_streamings'] > 0)
                for(var i=0; i<data['num_streamings']; i++){
                    createHTML(data['device_name'], data['device_id'], i);

                }
            });

            function createHTML(dev, id, i){

                //remove video player with android_id= id, si lo hubiera
                if (document.contains(document.getElementById(id))) {
                    var elem = document.getElementById(id);
                    elem.parentNode.removeChild(elem);
                } 

                //generate new video player with id
                var html = '<div class="android_id" id="'+id+'">'+
                                '<div class="video_preview">'+
                                    '<div class="title">'+
                                    '    <h1>'+ dev +'</h1>'+
                                    '</div>'+
                                    '<video class="video-js" id="player" controls="" preload="auto" width="640" height="400" poster="" data-setup="{}">'+
                                    '    <source src="rtmp://192.168.1.35:1935/live/myStream" type="rtmp/mp4"/>'+
                                    '</video>'+
                                    '<button class="myButton" id="move_w">w</button>'+
                                    '<button class="myButton" id="move_a">a</button>'+
                                    '<button class="myButton" id="move_s">s</button>'+
                                    '<button class="myButton" id="move_d">d</button>'+
                                    '<div class="clear"></div><br/><br/><br/>'+
                                    '<input id="stream_url" type="text" value="rtmp://192.168.1.35:1935/live/myStream"/><br/>'+
                                '</div>'+
                            '</div>';
            
                document.getElementById('container').innerHTML += html;
                
                var video_script = document.createElement("script");
                video_script.src = "https://vjs.zencdn.net/5.19/video.js";

                var jquery = document.createElement("script");
                jquery.src = "js/jquery-1.9.1.min.js";
                

                var script = document.createElement( "script" );
                script.type = "text/javascript";
                script.text = 'var myPlayer = videojs("player", {}, function(){'+
                                    'var player = this;'+
                                    'player.on("pause", function () {'+
                                        'player.one("play", function () {'+
                                            'player.load();'+
                                            'player.play();'+
                                        '});'+
                                    '});'+
                                '});';

                document.getElementById('container').appendChild(jquery);
                document.getElementById('container').appendChild(video_script);
            }

        });